<body>
  <div class="mainDiv">
    <h1>Login Page</h1>
    <div>
      <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <label for="username">Username</label><br>
        <input type="text" formControlName="username"><br>
        <div *ngIf="myform.controls['username'].invalid && myform.controls['username'].touched" class="error">
          <div *ngIf="myform.controls['username'].errors?.['required']">Username is required.</div>
          <div *ngIf="myform.controls['username'].errors?.['minlength']">Username must be at least 4 characters long.</div>
        </div>

        <label for="gmail">Gmail</label><br>
        <input type="text" formControlName="gmail"><br>
        <div *ngIf="myform.controls['gmail'].invalid && myform.controls['gmail'].touched" class="error">
          <div *ngIf="myform.controls['gmail'].errors?.['required']">Gmail is required.</div>
          <div *ngIf="myform.controls['gmail'].errors?.['pattern']">Gmail must be in proper format.</div>
        </div>

        <label for="password">Password</label><br>
        <input type="text" formControlName="password"><br>
        <div *ngIf="myform.controls['password'].invalid && myform.controls['password'].touched" class="error">
          <div *ngIf="myform.controls['password'].errors?.['required']">Password is required.</div>
          <div *ngIf="myform.controls['password'].errors?.['minlength']">Password must be at least 5 characters long.</div>
        </div>

        <button type="submit">SAVE</button>
        <button type="button" (click)="onReset()">RESET</button>
      </form>
    </div>
  </div>
  <div class="infoDiv">
    <h2>Info Saved</h2>
    <p>{{myid  | json}}</p>
  </div>
<router-outlet></router-outlet>
</body>