<div class="mainDiv">
    <h1>Login Page</h1>
    <div>
      <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <label for="username">Username</label><br>
        <input type="text" id="username" formControlName="username" autocomplete="username"><br>
        <div *ngIf="myform.controls['username'].invalid && myform.controls['username'].touched" class="error">
          <div *ngIf="myform.controls['username'].errors?.['required']">Username is required.</div>
          <div *ngIf="myform.controls['username'].errors?.['minlength']">Username must be at least 4 characters long.</div>
        </div>

        <label for="gmail">Gmail</label><br>
        <input type="text" id="gmail" formControlName="gmail" autocomplete="email"><br>
        <div *ngIf="myform.controls['gmail'].invalid && myform.controls['gmail'].touched" class="error">
          <div *ngIf="myform.controls['gmail'].errors?.['required']">Gmail is required.</div>
          <div *ngIf="myform.controls['gmail'].errors?.['pattern']">Gmail must be in proper format.</div>
        </div>

        <label for="password">Password</label><br>
        <input type="password" id="password" formControlName="password" autocomplete="current-password"><br>
        <div *ngIf="myform.controls['password'].invalid && myform.controls['password'].touched" class="error">
          <div *ngIf="myform.controls['password'].errors?.['required']">Password is required.</div>
          <div *ngIf="myform.controls['password'].errors?.['minlength']">Password must be at least 5 characters long.</div>
        </div>

        <button type="submit">SAVE</button>
        <button type="button" (click)="onReset()">RESET</button>
      </form>
    </div>
  </div>
  <div class="App">
    <h1>Hello Users!</h1>
    <div class="user-container">
      <div *ngFor="let user of users" class="user-card">
        <img src="https://reqres.in/img/faces/1-image.jpg">
        <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
  <!-- <p>Use ngNonBindable to stop evaluation.</p>
  <p ngNonBindable>This should not evaluate: {{ 1 + 1 }}</p>
  
  <h3>ngNonBindable with a directive</h3>
  <div ngNonBindable style="background-color: yellow; padding: 10px;">
    This should not evaluate: {{ 1 + 1 }}, but will highlight yellow.
  </div> -->

